<launch>

    <arg name="respawn_robot" default="true"/>
    <arg name="rate" default="10" />
    <arg name="rviz_viz" default="true"/>

    <rosparam command="load" file="$(find schunk_lwa4p_wsg50_config)/config/joint_names.yaml"/>

    <include file="$(find schunk_lwa4p_wsg50_config)/launch/planning_context.launch" >
        <arg name="load_robot_description" value="$(arg respawn_robot)" />
    </include>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="/use_gui" value="false"/>
        <param name="/rate" value="$(arg rate)"/>
        <!-- Simulation -->
        <!--rosparam param="/source_list">[/joint_states, /lwa4p/joint_states]</rosparam-->
        <!-- Real robot -->
        <rosparam param="/source_list">[/lwa4p/joint_states]</rosparam>
    </node>

    <include file="$(find schunk_lwa4p_wsg50_config)/launch/move_group.launch">
        <arg name="publish_monitored_planning_scene" value="true" />
    </include>

    <group if="$(arg rviz_viz)">
        <include file="$(find schunk_lwa4p_wsg50_config)/launch/moveit_rviz.launch">
        </include>
    </group> -->


</launch>