<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true"/>

    <arg name="paused" default="false" doc="Started gazebo in paused mode" />
    <arg name="gui" default="true" doc="Starts gazebo gui" />
    <arg name="gripper" default="true" doc="Loads different model and different controllers with gripper on" />
    <arg name="real_robot" value="false" />

    <!-- Startup simulation world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">   
        <arg name="world_name" default="worlds/empty.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gui)"/>    
    </include>

    <!-- Send robot URDF to param server -->
    <group if="$(arg gripper)">
        <include file="$(find schunk_lwa4p_description)/launch/lwa4p_arm_separator_powerline_upload.launch"/>
    </group>

    <group unless="$(arg gripper)">
        <include file="$(find schunk_lwa4p_description)/launch/lwa4p_arm_upload.launch"/>
    </group>

    <!-- Push robot description to factory and spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model lwa4p -z 0" respawn="false" output="screen" />

    <!-- Starts robot state publisher and joint state controller -->
    <include file="$(find schunk_lwa4p_gazebo)/launch/controller_utils.launch"/>

    <!-- Send robot URDF to param server -->
    <group if="$(arg gripper)">
        <include file="$(find schunk_lwa4p_description)/launch/lwa4p_arm_separator_powerline_upload.launch"/>
            <!-- Start arm + gripper controller -->
            <rosparam file="$(find schunk_lwa4p_gazebo)/controller/separator_controller.yaml" command="load"/>
            <!--rosparam file="$(find schunk_lwa4p_gazebo)/controller/joint_state_controller.yaml" command="load"/-->
            <node unless="$(arg real_robot)" name="arm_controller_spawner" ns="lwa4p" pkg="controller_manager" type="controller_manager" args="spawn arm_controller
            separator_controller distancer_right_position_controller distancer_left_position_controller" respawn="false" output="screen"/>

            <node unless="$(arg real_robot)" name="joint_position_controller_spawner" ns="lwa4p" pkg="controller_manager" type="spawner"
                  args="--stopped joint_1_position_controller joint_2_position_controller joint_3_position_controller
            joint_4_position_controller joint_5_position_controller joint_6_position_controller" respawn="false" output="screen"/>

            <!-- For calibration -->
            <!--rosparam file="$(find schunk_lwa4p_gazebo)/controller/decoupled_joint_position_controller.yaml" command="load"/>
            <node unless="$(arg real_robot)" name="arm_controller_spawner" ns="lwa4p" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller joint_1_position_controller joint_2_position_controller joint_3_position_controller joint_4_position_controller joint_5_position_controller joint_6_position_controller"
                  respawn="false" output="screen"/-->
    </group>
    
    <group unless="$(arg gripper)">
        <include file="$(find schunk_lwa4p_description)/launch/lwa4p_arm_upload.launch"/>
        <!-- Start arm controller -->
        <rosparam file="$(find schunk_lwa4p_gazebo)/controller/arm_controller.yaml" command="load"/>
        <node unless="$(arg real_robot)" name="arm_controller_spawner" ns="lwa4p" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
    </group>
       
    <!-- Load other controllers -->
    <node name="ros_control_controller_manager" ns="lwa4p" pkg="controller_manager" type="controller_manager" respawn="false" args="load joint_group_position_controller" />
    <!--joint_group_velocity_controller" !-->
    

</launch>