<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true"/>
    <!--arg name="remap" value="true"/-->

    <rosparam file="$(find schunk_lwa4p_gazebo)/controller/pid_gains.yaml" command="load"/>

    <include file="$(find schunk_lwa4p_gazebo)/launch/lwa4p_gazebo.launch"/>
        <arg name="gripper" value="true" />
    
    <include file="$(find schunk_lwa4p_moveit_config)/launch/demo_planning_execution.launch">
        <arg name="respawn_robot" value="false" />
        <!-- joint remapping is done in move_group.launch -->
        
    </include>

    <include file="$(find schunk_lwa4p_control)/launch/arm_control.launch"></include>

    
</launch>