<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lwa4p">

    <gazebo reference="separator_base">
        <material value="Gazebo/Red " />
    </gazebo>
    <gazebo reference="separator_right_back_holder">
        <material value="Gazebo/Green" />
    </gazebo>    
    <gazebo reference="separator_right_front_holder">
        <material value="Gazebo/Green" />
    </gazebo>
    <gazebo reference="separator_right_front_holder">
        <material value="Gazebo/Green" />
    </gazebo>    
    <gazebo reference="separator_left_front_holder">
        <material value="Gazebo/Green" /> 
    </gazebo>

    <gazebo reference="imu1">
        <material value="Gazebo/Blue"/>
    </gazebo>

    <gazebo reference="imu2">
        <material value="Gazebo/Blue"/>
    </gazebo>

    <gazebo reference="imu3">
        <material value="Gazebo/Blue"/>
    </gazebo>
   
    <transmission name="separator_right_front_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="separator_right_front_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="separator_right_front_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>  
        </actuator>
    </transmission>

    <transmission name="separator_right_back_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="separator_right_back_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="separator_right_back_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>  
        </actuator>
    </transmission>

    <transmission name="separator_left_front_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="separator_left_front_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="separator_left_front_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>  
        </actuator>
    </transmission>    

    <transmission name="separator_left_back_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="separator_left_back_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="separator_left_back_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>  
        </actuator>
    </transmission>   


</robot>
