<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="separator">
    
    <xacro:macro name="separator" params="connected_to:='' ns:='' rpy:='0 0 0' xyz:='0 0 0.1' safety_distance:=0">
        <xacro:unless value="${connected_to == ''}">
            <joint name="${ns}_separator_joint" type="fixed">       
                <parent link="${connected_to}"/>
                <child link="separator_base"/>
                <origin xyz="${xyz}" rpy="${rpy}"/>
            </joint>
        </xacro:unless>  

        <xacro:arg name="gazebo" default="true"/>
            <xacro:if value="$(arg gazebo)">
            <!-- Gazebo Tags -->
            <xacro:include filename="$(find schunk_lwa4p_description)/urdf/tools/separator.gazebo.xacro"/>
        </xacro:if>

        <xacro:property name="scale_factor" value="3.937007"/>

        <material name="blue">
            <color rgba="0 0 0.8 1"/>
        </material>

        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>

        <material name="custom">
            <color rgba="0.8 0.7 0.8 0.5"/>
        </material>


        <link name="separator_base">
            <inertial>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <mass value="2.5" />
                <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/baza2.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
                <material name="blue"/>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/baza2.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
            </collision>
        </link>

        <link name="right_front_holder">
            <inertial>
                <origin rpy="0 0 0" xyz="-${0.032/scale_factor} -${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <mass value="0.1" />
                <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="-${0.032/scale_factor} -${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/desni_prednji_drzac.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="-${0.032/scale_factor} -${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/desni_prednji_drzac.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
            </collision>
        </link>

        <joint name="separator_right_front_joint" type="revolute">
            <parent link="separator_base"/>
            <child link="right_front_holder"/>
            <origin xyz="${0.032/scale_factor} ${0.385443/scale_factor} ${0.16/scale_factor}" rpy="0 0 0"/>
            <limit effort="1000" velocity="0.5" lower="-0.32" upper="0"/>
            <axis xyz="0 1 0"/>
        </joint>

        <link name="right_back_holder">
            <inertial>
                <origin rpy="0 0 0" xyz="-${0.032/scale_factor} ${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <mass value="0.1" />
                <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="-${0.032/scale_factor} ${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/desni_zadnji_drzac.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="-${0.032/scale_factor} ${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/desni_zadnji_drzac.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
            </collision>
        </link>

        <joint name="separator_right_back_joint" type="revolute">
            <parent link="separator_base"/>
            <child link="right_back_holder"/>
            <origin xyz="${0.032/scale_factor} -${0.385443/scale_factor} ${0.16/scale_factor}" rpy="0 0 0"/>
            <limit effort="1000" velocity="0.5" lower="-0.32" upper="0"/>
            <axis xyz="0 1 0"/>
        </joint>

        <link name="left_front_holder">
            <inertial>
                <origin rpy="0 0 0" xyz="${0.032/scale_factor} -${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <mass value="0.1" />
                <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="${0.032/scale_factor} -${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/lijevi_prednji_drzac.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="${0.032/scale_factor} -${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/lijevi_prednji_drzac.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
            </collision>
        </link>

        <joint name="separator_left_front_joint" type="revolute">
            <parent link="separator_base"/>
            <child link="left_front_holder"/>
            <origin xyz="-${0.032/scale_factor} ${0.385443/scale_factor}  ${0.16/scale_factor}" rpy="0 0 0"/>
            <limit effort="1000" velocity="0.5" lower="0" upper="0.32"/>
            <axis xyz="0 1 0"/>
        </joint>

        <link name="left_back_holder">
            <inertial>
                <origin rpy="0 0 0" xyz="${0.032/scale_factor} ${0.385443/scale_factor}  -${0.16/scale_factor}"/>
                <mass value="0.1" />
                <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="${0.032/scale_factor} ${0.385443/scale_factor}  -${0.16/scale_factor}"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/lijevi_zadnji_drzac.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="${0.032/scale_factor} ${0.385443/scale_factor} -${0.16/scale_factor}"/>
                <geometry>
                    <mesh filename="package://schunk_lwa4p_description/meshes/separator/lijevi_zadnji_drzac.STL" scale="0.0254 0.0254 0.0254"/>
                </geometry>
            </collision>
        </link>

        <joint name="separator_left_back_joint" type="revolute">
            <parent link="separator_base"/>
            <child link="left_back_holder"/>
            <origin xyz="-${0.032/scale_factor} -${0.385443/scale_factor}  ${0.16/scale_factor}" rpy="0 0 0"/>
            <limit effort="1000" velocity="0.5" lower="0" upper="0.32"/>
            <axis xyz="0 1 0"/>
        </joint>

    </xacro:macro>
</robot>
