<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lwa4p">
  <xacro:arg name="gazebo" default="true"/>
	
  <!-- includes -->
  <xacro:include filename="$(find schunk_lwa4p_description)/urdf/lwa4p/lwa4p_arm.xacro" >
  	<xacro:arg name="gazebo" value="${gazebo}"/>
  </xacro:include>
  <xacro:include filename="$(find schunk_lwa4p_description)/urdf/tools/separator.xacro" >
	<xacro:arg name="gazebo" value="${gazebo}"/>
  </xacro:include>
  <xacro:include filename="$(find schunk_lwa4p_description)/urdf/powerline.xacro" >
	<xacro:arg name="gazebo" value="${gazebo}"/>
  </xacro:include>
  <xacro:include filename="$(find schunk_lwa4p_description)/urdf/separator_distancer.xacro" >
	<xacro:arg name="gazebo" value="${gazebo}"/>
  </xacro:include>
	
  <xacro:include filename="$(find schunk_lwa4p_description)/urdf/common.xacro"/>

    <!-- foot for arm -->
	<link name="base_link">
		<visual>
		   <origin xyz="0 0 0.25" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.1" length="0.5"/>
		   </geometry>
		   <material name="Gazebo/Black" />
		</visual>
		<collision>
		   <origin xyz="0 0 0.25" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.1" length="0.5"/>
		   </geometry>
		</collision>
		<inertial>
		   <origin xyz="0 0 0.25" rpy="0 0 0"/>
		   <mass value="10000.0"/>
		   <inertia ixx="10000.0"  ixy="0"  ixz="0" iyy="10000.0" iyz="0" izz="10000.0" />
		</inertial>
	</link>
 
  <!-- arm -->
  <xacro:lwa4p_arm arm_id="lwa4p" parent="base_link" has_podest="true" >
    <origin xyz="0 0 0.50" rpy="0 0 0" />
  </xacro:lwa4p_arm>

  <!-- tool -->
  <xacro:separator ns="lwa4p" rpy="0 0 ${-pi/4}" connected_to="lwa4p_link6" safety_distance="0.03"/>

  <!-- distancer -->
  <xacro:separator_distancer ns="lwa4p" rpy="0 0 0" xyz="0 0 0"/>

  <!-- powerline --> 
  <xacro:powerline base_x="0" base_y="0" base_z="0.25" x_distance="0.5" y_distance="1.25" gazebo="true" two_cables="true" cable_distance="0.3"/>

</robot>
