<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="powerline">

    <xacro:macro name="powerline" params="base_x:=0 base_y:=0 base_z:=0 x_distance:=0.75 y_distance:=1 two_cables:=true gazebo:=true cable_distance=0.25">

      <xacro:arg name="gazebo" default="true"/>
            <xacro:if value="$(arg gazebo)">
            <!-- Gazebo Tags -->
                <xacro:include filename="$(find schunk_lwa4p_moveit)/urdf/powerline.gazebo.xacro"/>
            </xacro:if>
   

        <joint name="base_powerline_link1" type="fixed">
            <origin xyz="${x_distance} -${y_distance} 0.375" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="powerline_link1"/>
        </joint>

        <!-- foot for powerline -->
	    <link name="powerline_link1">
		    <visual>
		        <origin xyz="0 0 0" rpy="0 0 0" />
		        <geometry>
			        <cylinder radius="0.05" length="0.75"/>
		        </geometry>
		        <material name="Gazebo/WoodFloor" />
		    </visual>
		    <collision>
		        <origin xyz="0 0 0" rpy="0 0 0" />
		        <geometry>
		            <cylinder radius="0.05" length="0.75"/>
		        </geometry>
		    </collision>
		    <inertial>
		        <origin xyz="0 0 0" rpy="0 0 0"/>
		        <mass value="10000.0"/>
		        <inertia ixx="10000.0"  ixy="0"  ixz="0" iyy="10000.0" iyz="0" izz="10000.0" />
		    </inertial>
	    </link>

        <joint name="base_powerline_link2" type="fixed">
            <origin xyz="${x_distance} ${y_distance} 0.375" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="powerline_link2"/>
        </joint>

        <link name="powerline_link2">
		<visual>
		   <origin xyz="0 0 0" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.05" length="0.75"/>
		   </geometry>
		   <material name="Gazebo/WoodFloor" />
		</visual>
		<collision>
		   <origin xyz="0 0 0" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.05" length="0.75"/>
		   </geometry>
		</collision>
		<inertial>
		   <origin xyz="0 0 0" rpy="0 0 0"/>
		   <mass value="10000.0"/>
		   <inertia ixx="10000.0"  ixy="0"  ixz="0" iyy="10000.0" iyz="0" izz="10000.0" />
		</inertial>
	</link>

    <joint name="base_powerline_cable1" type="fixed">
        <origin xyz="${x_distance} 0 0.75" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="powerline_cable1"/>
    </joint>

    <link name="powerline_cable1">
        <visual>
		   <origin xyz="0 0 0" rpy="1.5708 0 0" />
		   <geometry>
			  <cylinder radius="0.012" length="${y_distance*2}"/>
		   </geometry>
		   <material name="Gazebo/WoodFloor" />
		</visual>
		<collision>
		   <origin xyz="0 0 0" rpy="1.5708 0 0" />
		   <geometry>
			  <cylinder radius="0.012" length="${y_distance*2}"/>
		   </geometry>
		</collision>
		<inertial>
		   <origin xyz="0 0 0" rpy="1.5708 0 0"/>
		   <mass value="10000.0"/>
		   <inertia ixx="10000.0"  ixy="0"  ixz="0" iyy="10000.0" iyz="0" izz="10000.0" />
		</inertial>
	</link>

    <xacro:if value="${two_cables}">

        <joint name="base_powerline_link3" type="fixed">
            <origin xyz="${x_distance + cable_distance} -${y_distance} 0.375" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="powerline_link3"/>
        </joint>

	    <link name="powerline_link3">
		    <visual>
		        <origin xyz="0 0 0" rpy="0 0 0" />
		        <geometry>
			        <cylinder radius="0.05" length="0.75"/>
		        </geometry>
		        <material name="Gazebo/WoodFloor" />
		    </visual>
		    <collision>
		        <origin xyz="0 0 0" rpy="0 0 0" />
		        <geometry>
		            <cylinder radius="0.05" length="0.75"/>
		        </geometry>
		    </collision>
		    <inertial>
		        <origin xyz="0 0 0" rpy="0 0 0"/>
		        <mass value="10000.0"/>
		        <inertia ixx="10000.0"  ixy="0"  ixz="0" iyy="10000.0" iyz="0" izz="10000.0" />
		    </inertial>
	    </link>

        <joint name="base_powerline_link4" type="fixed">
            <origin xyz="${x_distance + cable_distance} ${y_distance} 0.375" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="powerline_link4"/>
        </joint>

        <link name="powerline_link4">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.05" length="0.75"/>
                </geometry>
                <material name="Gazebo/WoodFloor" />
            </visual>
                <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.05" length="0.75"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="10000.0"/>
                <inertia ixx="10000.0"  ixy="0"  ixz="0" iyy="10000.0" iyz="0" izz="10000.0" />
            </inertial>
	    </link>

        <joint name="base_powerline_cable2" type="fixed">
            <origin xyz="${x_distance + cable_distance} 0 0.75" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="powerline_cable2"/>
        </joint>

        <link name="powerline_cable2">
            <visual>
                <origin xyz="0 0 0" rpy="1.5708 0 0" />
                <geometry>
                    <cylinder radius="0.012" length="${y_distance*2.02}"/>
                </geometry>
                <material name="Gazebo/WoodFloor" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="1.5708 0 0" />
                <geometry>
                    <cylinder radius="0.012" length="${y_distance*2.02}"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="1.5708 0 0"/>
                <mass value="10000.0"/>
                <inertia ixx="10000.0"  ixy="0"  ixz="0" iyy="10000.0" iyz="0" izz="10000.0" />
            </inertial>
        </link>
    
    </xacro:if>
    
    </xacro:macro>

    

</robot>
