<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="config_path" value="$(find schunk_lwa4p_control)/config/topics.yaml"/>
    <arg name="simulate_determined_pose" value="false"/>
    <arg name="propagate_pose_ctl" value="false"/>
    <arg name="use_action_servers" value="true"/>
    <arg name="pose_detection_frequency" value="1"/>
    <param name="use_sim_time" value="false"/>


    <!-- Start arm control --> 
    <node pkg="schunk_lwa4p_control"  type="schunk_lwa4p_control_node" name="control_arm_node" output="screen">
        <param name="config_path" value="$(arg config_path)" />
        <remap if="$(arg propagate_pose_ctl)" from="/control_arm_node/arm/command/pose" to="/magnetic_est/pose"/>
    </node>

    <!-- Simulate magentic pose detection publisher -->
    <group if="$(arg simulate_determined_pose)">
        <node pkg="schunk_lwa4p_control" type="magnetic_pose_simulator_publisher.py" name="magnetic_pose_publisher_node" output="screen" args="$(arg pose_detection_frequency)">
        </node>
    </group>

    <!-- Use action servers -->
    <group if="$(arg use_action_servers)">
        <node pkg="schunk_lwa4p_control" type="gotopose_server" name="go_to_pose_server" output="screen">
        </node>
    </group>



</launch>