<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="config_path" value="$(find schunk_lwa4p_control)/config/topics.yaml"/>
    <arg name="simulate_determined_pose" value="false"/>
    <arg name="republish_joint_cmds" value="false"/>
    <arg name="joint_republish_freq" value="50"/>
    <arg name="propagate_pose_ctl" value="false"/>
    <arg name="use_action_servers" value="true"/>
    <arg name="servo" value="true"/>
    <arg name="pose_detection_frequency" value="1"/>
    <param name="use_sim_time" value="false"/>

    <!-- Start arm control -->
    <node pkg="schunk_lwa4p_control"  type="schunk_lwa4p_control_node" name="control_arm_node" output="screen">
        <param name="config_path" value="$(arg config_path)" />
        <remap if="$(arg propagate_pose_ctl)" from="/control_arm_node/arm/command/pose" to="/magnetic_est/pose"/>
    </node>

    <!-- Launch servo node -->
    <group if="$(arg servo)">

        <rosparam ns="servo_server" command="load" file="$(find schunk_lwa4p_control)/config/schunk_servo_config.yaml" />
        <rosparam ns="servo_server" command="load" file="$(find schunk_lwa4p_control)/config/pose_tracking_settings.yaml" />

    </group>

    <!-- Simulate magentic pose detection publisher -->
    <group if="$(arg simulate_determined_pose)">
        <node pkg="schunk_lwa4p_control" type="magnetic_pose_simulator_publisher.py" name="magnetic_pose_publisher_node" output="screen" args="$(arg pose_detection_frequency)">
        </node>
    </group>

    <!-- Simulate magentic pose detection publisher -->
    <group if="$(arg republish_joint_cmds)">
        <node pkg="schunk_lwa4p_control" type="joint_ctl_republisher.py" name="joint_ctl_republisher_node" output="screen" args="$(arg joint_republish_freq)">
        </node>
    </group>

    <!-- Use action servers -->
    <group if="$(arg use_action_servers)">



        <!-- Start GoToPoseServer -->
        <node pkg="schunk_lwa4p_control" type="gotopose_server" name="go_to_pose_server" output="screen" >
        </node>

        <!-- Start SetupDistancerServer -->
        <node pkg="schunk_lwa4p_control" type="setupdistancer_server" name="setup_distancer_server" output="screen">
        </node>


        <!-- Start ServoTrackPoseServer -->
        <node pkg="schunk_lwa4p_control" type="servotrackpose_server" name="servo_track_pose_server" output="screen">
        </node>

    </group>



</launch>